/*============================================
デフォルトタグ
============================================*/
html
{
    scroll-behavior: smooth;
}

body
{
    background-color : #f5f5f5;
}

header
{
    padding-top : 1%;
    padding-bottom : 1%;
}

div
{
    display: block;
    unicode-bidi: isolate;
    padding-top : 5px;
    padding-bottom : 5px;
}

table
{
    border-collapse: collapse;
}

th
{
    border: 1px solid #3333;
    border-color: gray;
    padding : 10px;
}

td
{
    border: 1px solid #3333;
    border-color: gray;
    padding : 10px;
}

/*============================================
ヘッダ
============================================*/
.header_title
{
    font-size : 1.2rem;
    font-weight: bold;
    text-align: center;
}

#header_container
{
    margin: 0 auto;
    max-width: 1500px;
}

ul#globalNavi
{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px 0 0px 0;
    padding: 0;
    text-align: center;
    line-height: 1.125rem;
    background-color: #1D0707;
    background-position: left center;
    list-style-type: none;
}

ul#globalNavi li
{
    margin: 0;
    padding: 0;
    float: left;
    width: 160px;
}

ul#globalNavi li a
{
    border-right: 1px solid #ddd;
    padding: 9px 20px;
    display: block;
    position: relative;
    color: #eee;
    font-size: 18px;
    background-position: left center;
    text-decoration: none;
    height: 18px;
}

ul#globalNavi li a:hover,
ul#globalNavi li.current a
{
    color: #333;
    background-color: #eee;
    background-position: left center;
}

ul#globalNavi li a#navi_home
{
	font-size: 14px;
	font-weight: bold;
}

ul#globalNavi:after
{
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}

/*============================================
TOPページ
============================================*/
.top_contents
{
    display: flex;
    max-width: 960px;
    margin: auto;
}

/*============================================
TOPページ左カラム 
============================================*/
#side_column_area
{
    order: 0;
    width: 40%;
    padding-left: 1rem;
}

#side_column_area_head
{
    font-weight : bold;
    text-align: left;
    margin-bottom : 1%;
}

#side_column_area_tag
{
    padding-left: 1rem;
}
#side_column_area_title
{
    padding-left: 2rem;
}

/*============================================
TOPページ右カラム
============================================*/
.infotablearea
{
    width : 60%;
    max-width : 1200px;
    margin-left: auto;
    margin-right : auto;
    order:1;
    float: center;
    background-color: #fff;
}

.main
{
    order: 1;
    width: 70%;
}

.infotablearea_head
{
    font-weight : bold;
    text-align: center;
    margin-bottom : 1%;
}

.infotable
{
    width : 100%;
    height : 240px;
    background-color: #fff;
    font-size: 0.9rem;
    border : 1px solid #000;
    display : block;
    overflow-y: scroll;
}

/*============================================
タイトル別ページ
============================================*/
.date
{
    width : 15%;
}

.contents_title
{
    font-size : 3.2rem;
    font-weight: bold;
    margin-top : 10px;
}

.contents
{
    width : 70%;
    margin-top : 3%;
    margin-left: auto;
    margin-right : auto;
}

.contents_text
{
    background-color : #fff;
    margin-top : 10px;
    padding : 3% 5%;
    border-radius: 10px;
}

.deco_background
{
    color: #fff; /* 白文字 */
    background-color: #596679 !important; /* 青背景 */
    padding: 0.1em 0.2em 0.1em 0.2em;
}